body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(128, 0, 128, 0.5), rgba(128, 0, 128, 0.5));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: relative;
  width: 100%;
  text-align: center;
}

.header h1 {
  color: white;
  font-size: 2em;
  margin: 10px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.profile-info {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

.profile-icon {
  width: 30px;
  height: 30px;
}

.profile-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.username {
  color: white;
  font-size: 1em;
  margin-left: 10px;
}

.profile-icon img:hover {
  transform: scale(1.2);
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

.dropdown-menu ul li {
  padding: 10px 20px;
  width: 100px;
}
.dropdown-menu li:hover {
  background-color: purple;
}

.dropdown-menu ul li a {
  text-decoration: none;
  color: black;
}

.dropdown-menu ul li:hover {
  background: #f1f1f1;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.form-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 500px;
  position: relative;
}

.form-container:hover {
  background: rgba(255, 255, 255, 0.9);
}

.form-container form {
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-container label {
  margin-bottom: 5px;
  color: purple;
}

.form-container input,
.form-container select {
  padding: 8px 0;
  border: none;
  width: 100%;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}

.form-container input:focus,
.form-container select:focus {
  outline: none;
  border-color: purple;
}

.form-container button {
  grid-column: span 2;
  padding: 10px 20px;
  border: 2px solid transparent;
  background-color: purple;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.form-container button:hover {
  background-color: transparent;
  color: purple;
  border-color: purple;
}

.input-row {
  display: block;
  justify-content: space-between;
}

.input-container {
  position: relative;
  width: 70%;
  margin-bottom: 40px;
}

.input-container input[type="text"],
.input-container input[type="password"] {
  font-size: 16px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #000000;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input:focus ~ .label,
.input-container input:valid ~ .label {
  top: -20px;
  font-size: 12px;
  color: purple;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #333;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input:focus ~ .underline,
.input-container input:valid ~ .underline {
  transform: scaleX(1);
}

.logo {
  padding-right: 90%;
}

.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.profile-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.profile-icon-large {
  width: 100px;
  height: 100px;
}

.profile-icon-large img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

.profile-section label {
  font-weight: bold;
  color: purple;
}

.profile-section span {
  color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: purple;
  color: white;
}

a {
  color: purple;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
